<div>
  <link href="./footer.css" rel="stylesheet" />
  <footer class="footer-footer">
    <div class="footer-container">
      <div class="footer-container1">
        <span class="footer-text">Sandhiya Group of Companies</span>
        <span class="footer-text01">Established 2019</span>
        <span class="footer-text02">
          <span>No.3/2A, Ariyur Road, </span>
          <span>Thiruvamuthur Village,</span>
          <br />
          <span>Vikkiravandi Taluk, </span>
          <span>Villupuram District.</span>
          <br />
          <span>Pin code – 605 402.</span>
        </span>
      </div>
      <div class="footer-container2">
        <span class="footer-text10">GST NO:</span>
        <span class="footer-text11">33AIWPK5926D3Z0</span>
      </div>
      <div class="footer-container3">
        <span class="footer-text12">Contact Us</span>
        <span class="footer-text13">+91-6385685452</span>
        <span class="footer-text14">+91-7418413926</span>
        <span class="footer-text15">admin@sandhiyaenvirogroup.com</span>
      </div>
    </div>
    <img
      alt="image"
      src="public/playground_assets/waves-white.svg"
      class="footer-image"
    />
  </footer>
</div>
