<div>
  <link href="./list-item.css" rel="stylesheet" />
  <div class="list-item-container">
    <h5 class="list-item-text">Mr S.V.Kannan,</h5>
    <span class="list-item-text01">
      <span>
        our esteemed founder brings a wealth of knowledge and expertise to our
        company. With a Bachelor&apos;s degree in Mathematics, his educational
        background lays a strong foundation for analytical thinking and
        problem-solving. Having spent 11 years in the petroleum field, he
        possesses a deep understanding of the industry&apos;s intricacies and
        dynamics.
      </span>
      <br />
      <br />
      <span>
        With over 12 years of experience in the field of used oil recycling, his
        expertise in this area is unparalleled. His dedication to sustainable
        practices and environmental stewardship has led him to specialize in
        converting waste oil into valuable resources.
      </span>
      <br />
      <br />
      <span>
        With 9 years of experience as a pre-processor in hazardous waste
        management, his proficiency in handling and treating hazardous waste, as
        well as grease and oil, is commendable. This expertise ensures the safe
        and efficient management of hazardous materials in compliance with
        regulatory requirements.
      </span>
      <br />
      <br />
      <span>
        Driven by his passion for environmental sustainability, he founded our
        company in 2019 with the vision of providing comprehensive solutions for
        hazardous waste management, recycling, and environmental services. His
        leadership and industry insights have been instrumental in shaping our
        company&apos;s growth and success.
      </span>
    </span>
  </div>
</div>
